---
layout: default
home: true
---

<blockquote class="tiktok-embed" cite="https://www.tiktok.com/@mafy.official/video/7267413142232124677" data-video-id="7267413142232124677" style="max-width: 325px;">
  <section>
    <a target="_blank" title="@mafy.official" href="https://www.tiktok.com/@mafy.official?refer=embed">@mafy.official</a>
    @ghea indrawari - Jiwa Yang Bersedih
    <a title="gheaindrawari" target="_blank" href="https://www.tiktok.com/tag/gheaindrawari?refer=embed">#gheaindrawari</a>
    <a title="jiwayangbersedih" target="_blank" href="https://www.tiktok.com/tag/jiwayangbersedih?refer=embed">#jiwayangbersedih</a>
    <a title="gitar" target="_blank" href="https://www.tiktok.com/tag/gitar?refer=embed">#gitar</a>
    <a title="cover" target="_blank" href="https://www.tiktok.com/tag/cover?refer=embed">#cover</a>
    <a title="sologitar" target="_blank" href="https://www.tiktok.com/tag/sologitar?refer=embed">#sologitar</a>
    <a title="melodienak" target="_blank" href="https://www.tiktok.com/tag/melodienak?refer=embed">#melodienak</a>
    <a title="fyp" target="_blank" href="https://www.tiktok.com/tag/fyp?refer=embed">#fyp</a>
    <a target="_blank" title="♬ original sound  Official - Mafy" href="https://www.tiktok.com/music/original-sound-Mafy-Official-7267413240526637829?refer=embed">♬ original sound  Official - Mafy</a>
  </section>
</blockquote> <script async src="https://www.tiktok.com/embed.js"></script>

<h3 class="posts-item-note" aria-label="Recent Art">Recent Art</h3>
{%- for track in site.data.tracks -%}
<article class="post-item">
  <iframe style="border-radius:12px" src="{{ track.embed }}" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</article>
{%- endfor -%}

<br><hr>

<h3 class="posts-item-note" aria-label="A6">A6 Ensemble</h3>
<p>I am also actively involved in <b>A6 Ensemble</b>, an <i>instrumental ethnically fusioned</i> group band as a Lead (re: Guitarist).</p>
<a href="https://open.spotify.com/artist/5iLw1RR9uBfImlpnaeRHIF" target="_blank"><img src="{{ site.author.a6banner }}" alt="A6 Ensemble" style="border-radius:12px"/></a>


<!-- <h3 class="posts-item-note" aria-label="Recent Posts">Recent Posts</h3>
{%- for post in site.posts limit: site.number_of_posts -%}
<article class="post-item">
  <span class="post-item-date">{{ post.date | date: "%b %d, %Y" }}</span>
  <h4 class="post-item-title">
    <a href="{{ post.url }}">{{ post.title | escape }}</a>
  </h4>
</article>
{%- endfor -%} -->
