---
layout: default
home: true
---

<h3 class="posts-item-note" aria-label="Highlight Latest">Highlight Latest</h3>
{%- for track in site.data.latest -%}
<article class="post-item">
  <iframe style="border-radius:12px" src="{{ track.embed }}" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</article>
{%- endfor -%}

<h3 class="posts-item-note" aria-label="Recent Art">Recent Art</h3>
{%- for track in site.data.tracks -%}
<article class="post-item">
  <iframe style="border-radius:12px" src="{{ track.embed }}" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</article>
{%- endfor -%}

<br><hr>

<h3 class="posts-item-note" aria-label="A6">A6 Ensemble</h3>
<p>I am also actively involved in <b>A6 Ensemble</b>, an <i>instrumental ethnically fusioned</i> group band as a Lead (re: Guitarist).</p>
<a href="https://open.spotify.com/artist/5iLw1RR9uBfImlpnaeRHIF" target="_blank"><img src="{{ site.author.a6banner }}" alt="A6 Ensemble" style="border-radius:12px"/></a>

<!-- <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@mafy.official" data-unique-id="mafy.official" data-embed-type="creator" style="max-width: 800px; min-width: 288px;" > <section> <a target="_blank" href="https://www.tiktok.com/@mafy.official?refer=creator_embed">@mafy.official</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script> -->

<!-- <h3 class="posts-item-note" aria-label="Recent Posts">Recent Posts</h3>
{%- for post in site.posts limit: site.number_of_posts -%}
<article class="post-item">
  <span class="post-item-date">{{ post.date | date: "%b %d, %Y" }}</span>
  <h4 class="post-item-title">
    <a href="{{ post.url }}">{{ post.title | escape }}</a>
  </h4>
</article>
{%- endfor -%} -->
